header,section,footer{
    padding: 3rem;
    height: 3rem;
    border: 0.1rem dashed black;
}

header {
    background-color: tomato;
}

section{
    position: absolute;
    background-color: chocolate;
    top:16rem;
    left: 3rem;
}

footer{
    background-color: aliceblue;
}