table, th, tr, td{
    border: black solid 0.1rem;
    border-collapse: collapse ;
}

/* Como hay 4 columnas, cada parte tendrá su ancho proporcional */
td,tr,th{
    width: 25%;
    /* rellenamos el texto para que se vea mejor*/
    padding: 1rem;
    text-align: center;
}